### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule zatrudnij-programiste-webowego Projekt 3.html
RewriteRule kim-jestem kimjestem.html
RewriteRule oferta-tworzenia-stron-www oferta.html
RewriteRule cv-programista-php-javascript cv.html
RewriteRule kontatk-programista-php kontakt.html